@import url('https://fonts.googleapis.com/css?family=Bitter|Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@media (max-width: 550px) {
  .navigation .menu {
    flex-direction: column;
  }
}

$bodyColor: #39c;
$headerColor: #0A3B57;
$contentMargin: 10%;
$sectionBorderRadius: 10px;
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.site {
  background-color: $bodyColor;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header,
main {
  padding: 2% 0;
}

header {
  background: radial-gradient(circle at 50% 150%, lighten($headerColor, 10%), $headerColor);
}

footer {
  background: radial-gradient(circle at 50% -100%, lighten($headerColor, 10%), $headerColor);
  padding: 10px 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

hr {
  width: 50%;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

.header,
.navigation,
main {
  margin: 0 $contentMargin;
}

.header {
  display: inline-block;
  a:hover {
    color: #91F3F3;
  }
}

.logo,
.slogan {
  //займають всю ширину по дефолту
  margin: 0;
  padding: 0;
}

.logo {
  font-family: 'Roboto Slab', serif;
}

header .navigation {
  display: flex;
  justify-content: flex-end;
}

.navigation {
  .menu,
  .footer-menu {
    display: flex;
  }
  .menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    margin-right: 20px;
  }
  li:last-child {
    margin-right: 0;
  }
}

.menu {
  font-size: 1.3em;
  font-weight: bold;
  a {
    position: relative;
    transition: bottom 0.1s;
    bottom: 0;
    &:hover {
      color: #6ED3F7;
      bottom: 4px;
    }
  }
  li.selected a {
    color: rgb(30, 185, 120);
  }
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.main-section {
  flex-basis: 70%;
  flex-grow: 3;
  padding: 20px;
  .trailer {
    display: flex;
    margin: 0 auto;
  }
}

.side-bar {
  flex-basis: 20%;
  flex-grow: 1;
  padding: 20px;
  min-width: 200px;
}

.input-text,
.input-textarea {
  border-radius: 5px;
  color: darken($bodyColor, 10%);
  border: none;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  outline: none; //лінія, яка виникає коли ввід попадає в фокус
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: darken($headerColor, 5%);
  height: 30px;
  padding: 3px 10px;
  &:hover, 
  a:hover {
    color: #6ED3F7;
  }
}

.find,
.enter,
.short-rating {
  background-color: darken($bodyColor, 10%);
  padding: 5%;
  border-radius: $sectionBorderRadius;
  text-align: right;
  margin: 10% 0;
}

.find {
  margin-top: 0;
  input[type="search"] {
    width: 100%;
    box-sizing: border-box;
  }
}

.enter,
.short-rating {
  h2 {
    margin: 0 0 10px;
    padding: 0;
    text-align: left;
    font-weight: 100;
  }
}

.enter {
  div {
    text-align: center;
  }
  a {
    color: #1EB978;
    margin: 10px 5px;
    &:hover {
      color: white;
    }
  }
}

.short-rating {
  ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }
  li {
    display: flex;
    justify-content: space-between;
    line-height: 180%;
  }
  a {
    text-align: left;
    text-decoration: underline;
    &:hover {
      color: #6ED3F7;
    }
  }
  span {
    align-self: center;
  }
}

.new-film {
  figure {
    margin: 0 0 40px 0;
    &:hover {
      color: #02182C;
      box-shadow: 0 0 10px #0A3B57;
    }
    figcaption {
      max-width: 150px;
    }
  }
}

.film {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  a {
    margin: 10px;
  }
}

.interesting-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 300px;
  h2 {
    font-weight: 200;
    font-size: 1.3em;
  }
  p {
    font-size: 0.9em;
  }
  article {
    margin-bottom: 5%;
  }
}

.footer-menu {
  list-style-type: none;
  justify-content: center;
  li {
    margin: 0;
    padding: 0 10px;
    border-right: 2px solid #6ED3F7;
    a {
      color: #6ED3F7;
      text-decoration: underline;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
  li:last-child {
    border-right: none;
  }
}

//FILM PAGE
.about-film {
  display: flex;
  flex-direction: column;
  .values {
    margin: 40px 0;
  }
}

.description {
  margin-bottom: 40px;
  img {
    float: left;
    margin-right: 15px;
  }
}

.movie {
  background-color: rgba($headerColor, 0.3);
  padding: 15px;
  p {
    min-height: 200px;
  }
}

.comments {
  padding: 0 50px;
  form {
    text-align: right;
  }
}

.comment {
  margin: 50px 0;
  position: relative;
  border: 2px solid rgba($headerColor, 1);
  border-radius: $sectionBorderRadius;
  background-color: rgba($headerColor, 0.3);
  img {
    position: absolute;
    left: -35px;
    top: -35px;
    float: left;
  }
  .user-name {
    margin: 0;
    background-color: rgba($headerColor, 0.6);
    height: 35px;
    padding: 5px 0 5px 60px;
  }
  .text {
    margin-top: 10px;
    padding: 0 10px 10px;
    font-size: 0.9em;
  }
}


//FILMS PAGE
.watch {
  float: right;
}


//RATINGS PAGE
.rating-table {
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
  max-width: 700px;
  caption {
    font-size: 1.6em;
    font-weight: 900;
    margin-bottom: 20px;
  }
  tr {
    padding: 105px 0;
    line-height: 90px;
  }
  thead tr {
    background-color: $headerColor;
    line-height: 40px;
  }
  tr:nth-child(2n) {
    background-color: rgba($headerColor, 0.2);
  }
  img {
    vertical-align: middle;
  }
  a {
    text-decoration: underline;
    &:hover {
      color: #91F3F3;
    }
  }
}
