@import url("https://fonts.googleapis.com/css?family=Bitter|Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@media (max-width: 515px) {
  .navigation .menu {
    flex-direction: column; } }
* {
  box-sizing: border-box; }

html {
  height: 100%; }

.site {
  background-color: #39c;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

header,
main {
  padding: 2% 0; }

header {
  background: radial-gradient(circle at 50% 150%, #0f5a85, #0A3B57); }

footer {
  background: radial-gradient(circle at 50% -100%, #0f5a85, #0A3B57);
  padding: 10px 0;
  text-align: center; }

a {
  text-decoration: none;
  color: white; }

.header,
.navigation,
main {
  margin: 0 10%; }

.header a:hover {
  color: #91F3F3; }

.logo,
.slogan {
  margin: 0;
  padding: 0; }

.logo {
  font-family: 'Roboto Slab', serif; }

header .navigation {
  display: flex;
  justify-content: flex-end; }

.navigation .menu,
.navigation .footer-menu {
  display: flex; }
.navigation .menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap; }
.navigation li {
  margin-right: 20px; }
.navigation li:last-child {
  margin-right: 0; }

.menu {
  font-size: 1.3em;
  font-weight: bold; }
  .menu a {
    position: relative;
    transition: bottom 0.1s;
    bottom: 0; }
    .menu a:hover {
      color: #6ED3F7;
      bottom: 4px; }
  .menu li.selected a {
    color: #1eb978; }

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%; }

.main-section {
  width: 70%;
  flex-grow: 3; }

.side-bar {
  flex-grow: 1;
  max-width: 200px; }

.input-text {
  border-radius: 5px;
  color: #297aa3;
  border: none;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  outline: none; }

.btn {
  border: none;
  border-radius: 5px;
  background-color: #072b40;
  height: 30px;
  width: 90px; }
  .btn:hover {
    color: #6ED3F7; }

.find, .enter, .short-rating {
  background-color: #297aa3;
  padding: 5%;
  border-radius: 10px;
  text-align: right;
  margin: 10% 0; }

.find {
  margin-top: 0; }
  .find input[type="search"] {
    width: 100%;
    box-sizing: border-box; }

.enter h2, .short-rating h2 {
  margin: 0 0 10px;
  padding: 0;
  text-align: left;
  font-weight: 100; }

.enter div {
  text-align: center; }
.enter a {
  color: #1EB978;
  margin: 10px 5px; }
  .enter a:hover {
    color: white; }

.short-rating ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }
.short-rating li {
  display: flex;
  justify-content: space-between;
  line-height: 180%; }
.short-rating a {
  text-align: left;
  text-decoration: underline; }
  .short-rating a:hover {
    color: #6ED3F7; }
.short-rating span {
  align-self: center; }

.new-film figure {
  margin: 0 0 40px 0; }
  .new-film figure:hover {
    color: #02182C;
    box-shadow: 0 0 10px #0A3B57; }
  .new-film figure figcaption {
    max-width: 150px; }

.film {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.interesting-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 300px; }
  .interesting-info hr {
    width: 50%; }
  .interesting-info h2 {
    font-weight: 200;
    font-size: 1.3em; }
  .interesting-info p {
    font-size: 0.9em;
    padding-right: 30px; }
  .interesting-info article {
    margin-bottom: 5%; }

.footer-menu {
  list-style-type: none;
  justify-content: center; }
  .footer-menu li {
    margin: 0;
    padding: 0 10px;
    border-right: 2px solid #6ED3F7; }
    .footer-menu li a {
      color: #6ED3F7;
      text-decoration: underline; }
      .footer-menu li a:hover {
        color: white;
        text-decoration: none; }
  .footer-menu li:last-child {
    border-right: none; }

/*# sourceMappingURL=style.css.map */
